<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{nome}}</p>
  <p>Aqui está o seu link para recuperação de senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Caso você não o tenha solicitado, descarte este e-mail.</p>
  <p>
    Obrigado! <br />
    <strong>Equipe GoBarber</strong>
  </p>

</div>
